{% extends "base.html" %}

{% block naslov %}Glavna stran{% endblock %}

{% block vsebina %}
<div class="jumbotron">
  <h1>Ninja Tech Forum</h1>

  <p>Welcome to Ninja Tech Forum. Coming soon!</p>
</div>

<div>
  <a href="/topic/add" class="btn btn-info">New Topic</a>
  <a href="/user-comments" class="btn btn-success">View all your comments</a>
  <br />
  <br />

<div class="table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th>Topic title</th>
          <th>Author</th>
          <th>Created</th>
        </tr>
      </thead>

      {% for topic in topics|sort(attribute="created") %}
      <tbody>
        <tr>
          <td><a href="/topic/show/{{ topic.key.id() }}">{{ topic.title }}</a></td>
          <td>{{ topic.author_email }}</td>
          <td>{{ topic.created.strftime("%d.%m.%Y at %H:%M") }}</td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
</div>

{% endblock %}